fastapi==0.111.0
uvicorn==0.29.0
anthropic
twilio
python-multipart
h11==0.14.0
tavily-python
apscheduler
sqlalchemy
pytz
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
httpx
spotipy
openai
elevenlabs
